{{ define "base" }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dela</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <style>
        html * {
            font-family: "Roboto", sans-serif !important;
        }
        body {
            background-color: #f8f9fa;
        }
        header {
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body class="w-100 h-100">
    <header class="p-3 text-bg-warning-emphasis">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                    <img width="64" height="64" src="/static/images/android-chrome-192x192.png" alt="Dela">
                </a>

                <nav class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <a href="/" class="nav-link px-2 text-white">Main</a>
                    <a href="/about" class="nav-link px-2 text-white">About</a>
                </nav>

                <div class="d-flex align-items-center">
                    <button id="theme-switch-btn" class="btn btn-secondary me-2" onclick="toggleTheme();">
                        <img id="theme-svg" src="/static/images/brightness-high.svg" alt="Change theme">
                    </button>
                    <div id="bar-auth" class="d-flex">
                        <a href="/login" class="btn btn-outline-light me-2">Login</a>
                        <a href="/register" class="btn btn-warning">Sign-up</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Content -->
    <main class="container mt-4">
        {{ template "content" . }}
    </main>
</body>

</html>

<script src="/scripts/auth.js"></script>
<script src="/scripts/api.js"></script>
<script>
function toggleTheme() {
  if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
      document.documentElement.setAttribute('data-bs-theme','light');
      localStorage.setItem("theme", "light");
      document.getElementById("theme-svg").src = "/static/images/brightness-high.svg";
  } else {
      document.documentElement.setAttribute('data-bs-theme','dark');
      localStorage.setItem("theme", "dark");
      document.getElementById("theme-svg").src = "/static/images/moon-stars.svg";
  }
}

document.addEventListener('DOMContentLoaded', async function() {
  // Theme
  let theme = localStorage.getItem("theme");
  if (theme) {
    document.documentElement.setAttribute('data-bs-theme', theme);
    if (theme == "dark") {
        document.getElementById("theme-svg").src = "/static/images/moon-stars.svg";
    } else {
        document.getElementById("theme-svg").src = "/static/images/brightness-high.svg";
    }
  }

  // Check if auth info is valid
  try {
    let response = await getUser();
    if (response.ok) {
      let barAuth = document.getElementById("bar-auth");
      barAuth.innerHTML = '<button id="log-out-btn" class="btn btn-outline-light me-2"><img src="/static/images/person-dash-fill.svg"></button>';
      document.getElementById("log-out-btn").addEventListener("click", (event) => {
        // Log out
        forgetAuthInfo();
        window.location.replace("/about");
      });
    }
  } catch(error) {
    forgetAuthInfo();
    return;
  }

}, false)
</script>

{{ end }}
