{{ template "base" . }}

{{ define "content" }}

<main class="d-flex flex-wrap align-content-center align-items-center container my-5 flex-column">
    <div class="p-2 flex-fill text-wrap text-center border shadow-lg">
        <h3 class="h3 mb-3 fw-normal">{{index .Translation "login main"}}</h3>
        <form onsubmit="return false;">
            <div class="mb-3 input-group">
                <img src="/static/images/envelope-at.svg" alt="Email" class="input-group-text">
                <input 
                    type="email" 
                    class="form-control" 
                    id="input-email" 
                    aria-describedby="Email"
                    aria-label="email@example.com"
                    placeholder="email@example.com"
                    required
                    minlength="3">
            </div>

            <div class="mb-3 input-group">
                <img src="/static/images/key.svg" alt="Password" class="input-group-text">
                <input 
                    type="password" 
                    class="form-control" 
                    id="input-password" 
                    aria-describedby="Password"
                    aria-label="Password"
                    placeholder='{{index .Translation "login placeholder password"}}'
                    required
                    minlength="3">
            </div>
            
            <p><span id="error_message" class="text-danger"></span></p> 
            <input type="submit" value='{{index .Translation "login main"}}' class="btn btn-primary" onclick="logIn()">
        </form>
            
    </div>
</main>

<script>
async function logIn() {
    let emailInput = document.getElementById("input-email");
    if (!emailInput.reportValidity()) {
        return;
    }
    let email = String(emailInput.value).trim();

    let passwordInput = document.getElementById("input-password");
    if (!passwordInput.reportValidity()) {
        return;
    }
    let password = String(passwordInput.value);
    password = sha256(password);

    // Check if auth info is indeed valid
    let response = await doLogin({email: email, password: password});
    if (response.ok) {
        window.location.replace("/");
    } else {
        document.getElementById("error_message").innerText = await response.text();
    }
}

</script>
{{ end }}