{{ template "base" . }}

{{ define "content" }}

<main class="d-flex flex-wrap align-content-center">
    <div class="p-2 flex-fill text-wrap text-center">
        <h3>Register</h3>
        <form name="registerForm" onsubmit="return false;">
          <p>
              <label for="login" class="form-label">Login</label> <br>
              <input type="text" name="login" minlength="3" placeholder="Login" required>
          </p>
        
          <p>
            <label for="email" class="form-label">Email</label> <br>
            <input type="email" name="email" minlength="3" placeholder="login@example.com" required>
          </p>
        
          <p>
              <label for="password" class="form-label">Password</label> <br>
              <input type="password" name="password" minlength="3" placeholder="Password" required>
          </p>
        
            <p><span id="error_message" class="text-danger"></span></p> 
        
            <p>
                <input type="submit" value="Register" class="btn btn-primary" onclick="register();">
            </p>
        </form>    
    </div>
</main>

<script>
async function register() {
  let registerForm = document.forms["registerForm"];

  let login = String(registerForm.elements["login"].value).trim();
  if (login.length < 3) {
      return;
  }

  let email = String(registerForm.elements["email"].value).trim();
  if (email.length < 3) {
      return;
  }

  let password = String(registerForm.elements["password"].value);
  if (password.length < 3) {
      return;
  }

  let passwordSHA256 = sha256(password);
  let postData = {
      login: login,
      email: email,
      password: passwordSHA256,
  };

  let response = await postNewUser(postData);

  if (response.ok) {
      rememberAuthInfo(postData.login, postData.password);
      window.location.replace("/");
  } else {
      document.getElementById("error_message").innerText = await response.text();
  }
};
</script>
{{ end }}