{{ template "base" . }}

{{ define "content" }}

<main class="d-flex flex-wrap align-content-center container my-5 flex-column">
    <div class="p-2 flex-fill text-wrap text-center border shadow-lg">
        <h3 class="h3 mb-3 fw-normal">{{index .Translation "register main"}} <span title='{{index .Translation "register passwords info"}}'>
            <img src="/static/images/info-circle.svg" alt="Information"></span>
        </h3>
        <form onsubmit="return false;">
            <div class="mb-3 input-group">
                <img src="/static/images/envelope-at.svg" alt="Email" class="input-group-text">
                <input 
                    type="email" 
                    class="form-control" 
                    id="input-email" 
                    aria-describedby="Email"
                    aria-label="login@example.com"
                    placeholder="login@example.com"
                    required
                    minlength="3">
            </div>

            <div class="mb-3 input-group">
                <img src="/static/images/key.svg" alt="Password" class="input-group-text">
                <input 
                    type="password" 
                    class="form-control" 
                    id="input-password" 
                    aria-describedby="Password"
                    aria-label="Password"
                    placeholder='{{index .Translation "register placeholder password"}}'
                    required
                    minlength="3">
            </div>

            <p><span id="error_message" class="text-danger"></span></p> 
            <input type="submit" value='{{index .Translation "register button"}}' class="btn btn-primary" onclick="register();">
        </form>    
    </div>
</main>

<div class="modal fade" id="verificationModal" tabindex="-1" aria-labelledby="verificationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verificationModalLabel">{{index .Translation "register email verification"}}</h5>
            </div>
            <div class="modal-body">
                <p>{{index .Translation "register email verification info"}}</p>
                <div class="mb-3">
                    <label for="verificationCode" class="form-label">{{index .Translation "register email verification code"}}</label>
                    <input type="text" id="input-code" class="form-control" id="verificationCode" placeholder='{{index .Translation "register enter code"}}' required>
                </div>
                <p class="text-danger"><span id="error-message-modal"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="verifyButton" onclick="verify();">{{index .Translation "register verify"}}</button>
            </div>
        </div>
    </div>
</div>


<script>
function showVerificationModal() {
    const verificationModal = new bootstrap.Modal(document.getElementById('verificationModal'), {});;
    verificationModal.show();
}

async function verify() {
    let emailInput = document.getElementById("input-email");
    let email = String(emailInput.value).trim();

    let codeInput = document.getElementById("input-code");
    let code = String(codeInput.value).trim();

    let response = await postEmailVerification(email, code);
    if (response.ok) {
        window.location.replace("/");
    } else {
        document.getElementById("error-message-modal").innerText = await response.text();
    }
}

let verificationSent = false;

async function register() {
    if (verificationSent) {
        // No need to resend registration data, reopen verification modal, 
        showVerificationModal();
        return;
    }

    let emailInput = document.getElementById("input-email");
    if (!emailInput.reportValidity()) {
        return;
    }
    let email = String(emailInput.value).trim().toLowerCase();

    let passwordInput = document.getElementById("input-password");
    if (!passwordInput.reportValidity()) {
        return;
    }
    let password = String(passwordInput.value);


    let passwordSHA256 = sha256(password);
    let postData = {
        email: email,
        password: passwordSHA256,
    };

    console.log(postData);
    let response = await postNewUser(postData);
    if (response.ok) {        
        let json = await response.json();
        if (json.confirm_email) {
            verificationSent = true;
            // Open email confirmation modal
            showVerificationModal();
        } else {
            window.location.replace("/");
        }
    } else {
        document.getElementById("error_message").innerText = await response.text();
    }
};
</script>
{{ end }}